:root {

    --primary: rgb(34, 116, 39);
    --bg: rgba(2, 19, 9, 0.737);
}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    
}


.loggo{
    margin-right: flex;
    margin-left: 10px;
    cursor: pointer;
    transition: all .5s ease 0s;
    font-size: 2rem;
    font-weight: 650;
    font-style: italic;
}
.loggo:hover{

    color: var(--primary);
    transform: rotate(3deg);
}

body{
    
    font-family: 'poppis', sans-serif;
    background-color: var(--bg);
    color: aliceblue;
   
}

header{

    background: rgba(4, 104, 64, 0.274);
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.heroo .content .p2 {

    font-size: 15px;
}
a{
    flex-wrap: wrap;
    color: #fff;
    text-decoration: none;
}

li{
    list-style-type: none;
    padding: 10px;
}

li a:hover{
    color: var(--primary);
    transform: rotate(3deg);
    
}

li a {
    transition: all .5s ease 0s;
    display: inline-block;
    padding: 3px;
}

/* nav start */
nav ul{

    display: flex;
    padding: 17px 7%;
    justify-content: space-between;
    align-items: center;
    
    
}

nav ul li a {

    flex-wrap: wrap;
    text-align: center;
    margin: 0 0.5rem;
}

/* nav end */

.btn-cta{
    margin-right: 10px;
    border: none;
    font-size: 15px;
    padding: 6px 12px;
    background: rgb(12, 167, 51) ;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 0.5rem;
    
}

.btn-cta:hover{
    color: var(--bg);
    transform: rotate(3deg);
    transition: all .5s ease 0s;
    
}


/* content start */


.heroo{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../img/back.jpg');
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    backdrop-filter:var(--bg);
    position: relative;
    
}

.heroo::after{
    
    content: '';
    position: relative;
    width: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(7, 30, 2) 20%, rgba(1, 16, 7) 30%);
}

.heroo .content {

    padding: 1.4rem 7%;
    max-width: 60rem;
}
.heroo .content h1 {

    font-size: 4em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(rgba(217, 210, 210));
    line-height: 1.2;
    
}

.heroo .content h1 span{
    color: rgb(99, 225, 156);
}

.heroo .content  p {

    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1rem;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(rgba(217, 210, 210));
    font-style: italic;
    

}
.heroo .content p span {

    color:rgb(99, 225, 156);
}

/* content end */



.parallax {
    background-image: url('../img/evi.jpg');
    
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    background-size:430px;
    background-position: center;
    flex-wrap: wrap;
    
    

}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    font-style: oblique;
    background: #202d20;
    padding: 15px;
    width: 100%;
    

}

.btn {
    margin-right: 10px;
    border: none;
    font-size: 12px;
    padding: 5px 10px;
    background: rgb(12, 167, 51) ;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 0.5rem;
    margin-top: 15px;
    

}

.btn:hover{

    color: var(--bg);
    transform: rotate(3deg);
    transition: all .5s ease 0s;
    
}


/* paragraf section start */

.conten .prg1 {

    font-size: 1.5rem;
    margin-bottom:1 3 1rem;
    text-align: center;
    padding: 1rem 6%; 
    background: #343e34e7;
    color: rgb(222, 228, 226);
    box-shadow:2px 2px 5px 2px rgba(0,0,0, 0.5);
    ;  
}


.content2 .prg2{
    font-size: 2rem;
    margin:1 1 1;
    text-align: center;
    padding: 1.5rem 1.5rem; 
    background: #343e3461;
    color: rgb(227, 234, 232);
    box-shadow:2px 2px 5px 2px rgba(0,0,0, 0.5);
    ;
}

.conten .prg2 span{
    
    color: #9dde9e;}

.conten .prg1 span{

    color: #9dde9e;}

.conten .p3 {
    font-size: 1.2rem;
    margin-bottom:1 3 1rem;
    text-align: center;
    flex: 2 2 35rem;
    padding: 20px;
    background: #4e5f4e61;
    color: #b6feb8;
    line-height: 1.6rem;
    width: 100;
    font-style: italic;
    box-shadow: 2px 2px 5px 2px rgba(0,0,0, 0.5);

}

.title {

    background: #4e5f4e61;
    text-align: center;
    font-size: 1.2rem;
    padding: 14px;
}

 .animate__animated .animate__jello .animate__infinite{

    --animation-duration: 6s;
    animation-delay: 7s;
}


.img1{
    padding: 2px 2px;
    width: 140px;
    height: 140px;
    border-radius: 90%;
    overflow: hidden;
    border: 3.5px solid;
    border-color: #202d20;
   
   
    
}
.img2{
    padding: 2px 2px;
    width: 140px;
    height: 140px;
    border-radius: 90%;
    overflow: hidden;
    border: 3.5px solid;
    border-color: #202d20;
    float: left;
   
}



/* paragraf section end */
/* media Queries */



/*  laptop */

@media ( max-width: 1366px){
    html {
        font-size: 75%;
    }
 }

/*  tablet */

@media ( max-width: 768px){
    html {
        font-size: 80.5%;
    }
 }



/*  handphone */

@media ( max-width: 490px){
    html {
        font-size: 79%;
    }

    

 }
